<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 my-5">
      <h1 class = "mb-5">Follower Users</h1>
      <%= render 'public/relationships/follow-btn', users: @users %>
    </div>
  </div>
</div>