<div class = "top">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-12 my-5">
        <p class = "text-danger"><%= flash[:danger] %></p>
        <%= image_tag 'logo.png', class: "my-5" %>
        <h3 class = "top-text font-weight-bold">
          みんな、褒めて、褒められよう。<br />
          今日もえらい。<br />
        </h3>
        <h4 class = "font-weight-bold">#ほめホメ</h4>
      </div>
    </div>
  </div>
</div>
