<div class = "top">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-12 my-5">
        <p class = "text-danger"><%= flash[:danger] %></p>
        <div class = "text-box">
          <div class = "top-text">
            <div class = "home_font display-2">home home</div>
            <h5>
              みんな、褒めて、褒められよう。<br />
              今日もえらい。<br />
            </h5>
            <p>#ほめホメ　#home_home</p>
          </div>
          <div id = "container">
            <div id = "theTarget">
              <div class = "top1"></div>
              <div class = "top2"></div>
              <div class = "top3"></div>
              <div class = "top4"></div>
              <div class = "top5"></div>
            </div>
          </div>
        </div>
        <%= image_tag 'logo.png', class: "my-5" %>
      </div>
    </div>
  </div>
</div>
