<div class = "admin_top">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-12 my-5">
        <h1 class = "font-weight-bold">管理者トップページ</h1>
        <p class = "text-success"><%= flash[:success] %></p>
          <%= image_tag 'logo.png', class: "my-5" %>
      </div>
    </div>
  </div>
</div>