<% if list.favorited_by?(current_user) %>
  <h3><%= link_to "おつかれさまです！えらい！", list_favorites_path(list), method: :delete, remote: true, class: "far fa-grin-squint btn-beat mt-5" %></h3>
<% else %>
  <%= link_to image_tag('home.png'), list_favorites_path(list), method: :post, remote: true, class: "btn-home" %>
<% end %>