/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 // フォント
 header,
 main,
 footer {
  font-family: cursive, YuGothic, sans-serif;
 }

 a:hover {
  text-decoration: none;
 }

 header {
  background: -moz-linear-gradient(top, #B08ABA, #FDFDFB);
  background: -webkit-linear-gradient(top, #B08ABA, #FDFDFB);
  background: linear-gradient(to bottom, #B08ABA, #FDFDFB);
 }

 // ヘッダーロゴ
 .navbar-brand{
  border-radius: 50%;
 }

 // ヘッダーユーザ名
 .nav-text {
  background: linear-gradient(transparent 40%, #E1D7E6 50%);
 }

 // ヘッダーリンク
 .nav-link {
  font-size: 16px;
  background-color: #D59F67;
  outline: 1px solid;
  outline-color: #8376B5;
  outline-offset: 0px;
  transition: .3s;
 }

 .nav-link:hover {
  animation: light .8s infinite;
 }

 @keyframes light {
  100% {
   outline-color: transparent;
   outline-offset: 12px;
  }
 }

 footer {
  line-height: 100px;
  background: -moz-linear-gradient(bottom, #B08ABA, #FDFDFB);
  background: -webkit-linear-gradient(bottom, #B08ABA, #FDFDFB);
  background: linear-gradient(to top, #B08ABA, #FDFDFB);
 }

 main {
  background-color: #FDFDFB;
  color: #8376B5;
 }

 // トップ画面
 .top {
  text-align: center;
 }

 .text-box {
  position: relative;
 }

 .top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 9999;
  height: 100px;
  line-height: 100px;
  color : #FDFDFB;
 }

 // トップスライドショー
 #container{
  height: 500px;
 }

 .top1 {
  background-image: image-url("top1.jpg");
 }
 .top2 {
  background-image: image-url("top2.jpg");
 }
 .top3 {
  background-image: image-url("top3.jpg");
 }
 .top4 {
  background-image: image-url("top4.jpg");
 }
 .top5 {
  background-image: image-url("top5.jpg");
 }

 // 管理者トップ画面
 .admin_top {
  background-color: #FDFDFB;
  text-align: center;
 }

 // アバウト画面
 .img_wrap{
  overflow: hidden;
 }

 .img_wrap img{
  cursor: pointer;
  transition-duration: 0.5s;
 }

 .img_wrap img:hover{
  transform: scale(1.2) rotate(9deg);
  transition-duration: 0.5s;
 }

 // アバウト行間
 // 投稿詳細行間
 .what,
 .how,
 .list {
  line-height: 40px;
 }

 // How to use 見出し
 .how > h5 {
  border-bottom: solid 3px #A5C5E2;
  position: relative;
 }

 .how h5:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #86A7CA;
  bottom: -3px;
  width: 30%;
 }

 .what:first-letter,
 .how > h5:first-letter {
  font-size: 2em;
  color: #E7B39E;
 }

 .profile_image {
  border-radius: 50%;
 }

 // 新規投稿へのリンク
 #new_list {
  position: fixed;
  right: 40px;
  top: 200px;
 }

 .new_list_img {
  border-radius: 50%;
 }

 .new_list_img:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #E7B39E;
  box-shadow: 0 2px 0 #E7B39E;
 }

 // ほめホメカウント
 .favorite-btn {
  color: #A59AC3;
 }

 // 投稿詳細ほめホメボタン
 .btn-home > img {
  height: 250px;
  border-radius: 50%;
 }

 // 投稿詳細画面編集・削除ボタン
 .btn-list {
  display: flex;
  flex-direction: column;
 }

 // ほめホメボタン(お疲れ様)
 .btn-beat {
  font-size: 20px;
  font-weight: bold;
  color: #FCE2CC;
  background-color: #B08ABA;
  padding: 50px;
  border-radius: 50%;
  display: inline-block;
  transition: .3s;
 }

 .btn-beat:hover {
  color: #FCE2CC;
  animation: pulsation .7s alternate infinite;
 }

 @keyframes pulsation {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1.1); }
 }

 // テーブル
 .table-hover tr:hover td {
  background-color: #E1D7E6;
 }

 // ページネーション
 .pagination {
  justify-content: center;
  border: none;
 }

 .pagination > li > a {
  color: #86A7CA;
  border: none;
 }

 .pagination >li > a:hover {
  color: #86A7CA;
  background-color: #E1D7E6;
 }
