/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 header {
  background-color: #FDFDFB;
 }

 .nav-link {
  color: #E84566;
 }

 footer {
  height: 100px;
  line-height: 100px;
  background-color: #6EC7E2;
 }

 main {
  background-color: #FDFDFB;
 }

 // トップ画面
 .top {
  text-align: center;
 }

 .text-box {
  position: relative;
 }

 .top-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 9999;
  height: 100px;
  line-height: 50px;
  color : #FDFDFB;
 }

 // トップ画面スライドショーフォント
 .home_font {
  font-family: cursive, sans-serif;
 }

 // トップスライドショー
 #container{
  height: 500px;
 }

 .top1 {
  background-image: url(top1.jpg);
 }
 .top2 {
  background-image: url(top2.jpg);
 }
 .top3 {
  background-image: url(top3.jpg);
 }
 .top4 {
  background-image: url(top4.jpg);
 }
 .top5 {
  background-image: url(top5.jpg);
 }

 // 管理者トップ画面
 .admin_top {
  background-color: #F3ADCB;
  text-align: center;
 }

 // アバウト画面
 .what,
 .how {
  line-height: 40px;
 }
 
 // How to use 見出し
 .how > h5 {
  border-bottom: solid 3px skyblue;
  position: relative;
 }
 
 .how h5:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 30%;
 }

 .profile_image {
  border-radius: 50%;
 }

 #new_list {
  position: fixed;
  right: 40px;
  top: 150px;
 }

 // 投稿詳細の項目の行間
 .list {
  line-height: 40px;
 }

 // 投稿一覧のほめホメカウント
 .favorite-btn {
  color: #F9E900;
 }

 // #table tr:hover td {
 //  background-color: #ACDEF7;
 // }