<footer>
  <%= image_tag 'line_f.png', class: "w-100" %>
  <div class = "container">
    <div class = "row">
      <div class = "mx-auto">
        <p class = "font-weight-bold">home home</p>
      </div>
    </div>
  </div>
</footer>